body{
    background-attachment: fixed;
    font: 1rem open sans,sans-serif;
    height: 100%;
    background-image: url(../public/img/bgslash.png);
}

.App{
    height: 100vh; margin: 0;
    display: flex;
    flex-direction: column;
    
}

footer{
    margin-top: auto;
}

.overflow-y{
    overflow-y: scroll;
}

.overflow-hidden{
    overflow-y: hidden;
}